{% extends 'base.html' %}

{% block content %}
    <div class="container mt-4">
        <h2>Agregar Producto</h2>
        <form method="post" class="form">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.nombre.label_tag }}
                {{ form.nombre }}
            </div>
            <div class="mb-3">
                {{ form.descripcion.label_tag }}
                {{ form.descripcion }}
            </div>
            <div class="mb-3">
                {{ form.precio.label_tag }}
                {{ form.precio }}
            </div>
            <button type="submit" class="btn btn-primary">Guardar Producto</button>
        </form>
    </div>
{% endblock %}
