<!-- restaurante_app/templates/restaurante_app/agregar_comanda.html -->
{% extends 'base.html' %}

{% block content %}
    <h2>Agregar Comanda - {{ mesa.nombre }}</h2>

    <!-- Sección para agregar comanda de bebidas -->
    <h3>Bebidas:</h3>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="form-bebida">
        <label for="bebida">Bebida:</label>
        <select name="bebida_id" id="bebida">
            {% for bebida in bebidas %}
                <option value="{{ bebida.id }}">{{ bebida.nombre }}</option>
            {% endfor %}
        </select>
        <label for="bebida_cantidad">Cantidad:</label>
        <input type="number" name="bebida_cantidad" id="bebida_cantidad" min="1" value="1">
        <button type="submit">Agregar Comanda</button>
    </form>

    <!-- Sección para agregar comanda de productos -->
    <h3>Productos:</h3>
    <form method="post" id="form-producto">
        {% csrf_token %}
        <label for="producto">Producto:</label>
        <select name="form-producto" id="form-producto">
            {% for producto in productos %}
                <option value="{{ producto.id }}">{{ producto.nombre }}</option>
            {% endfor %}
        </select>
        <label for="producto_cantidad">Cantidad:</label>
        <input type="number" name="producto_cantidad" id="producto_cantidad" min="1" value="1">
        <button type="submit" form="form-producto">Agregar Comanda</button>
    </form>

    <!-- Sección para agregar comanda de artículos -->
    

    <h3>Comandas Actuales:</h3>
    <ul>
        {% for comanda in comandas %}
            {% if comanda.producto %}
                <li>{{ comanda.producto.nombre }} - {{ comanda.cantidad }}</li>
            {% elif comanda.bebida %}
                <li>{{ comanda.bebida.nombre }} - {{ comanda.cantidad }}</li>
            {% else %}
                <li>No se encontró ningún artículo</li>
            {% endif %}
        {% endfor %}
    </ul>

    <a href="{% url 'cerrar_mesa' mesa_id=mesa.id %}">Cerrar Mesa</a>
{% endblock %}
