<!-- restaurante_app/templates/restaurante_app/agregar_comanda.html -->
{% extends 'base.html' %}

{% block content %}
    <h2>Agregar Comanda - {{ mesa.nombre }}</h2>

    <!-- Sección para agregar comanda de bebidas -->
    <h3>Bebidas:</h3>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="form-bebida">
        <label for="bebida">Bebida:</label>
        <select name="bebida_id" id="bebida">
            {% for bebida in bebidas %}
                <option value="{{ bebida.id }}">{{ bebida.nombre }}</option>
            {% endfor %}
        </select>
        <label for="bebida_cantidad">Cantidad:</label>
        <input type="number" name="bebida_cantidad" id="bebida_cantidad" min="1" value="1">
        <button type="submit">Agregar Comanda</button>
    </form>
    
    <!-- Sección para agregar comanda de artículos -->
    <h3>Comidas:</h3>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="form-comida">
        <label for="comida">Comida:</label>
        <select name="comida_id" id="comida">
            {% for comida in comidas %}
                <option value="{{ comida.id }}">{{ comida.nombre }}</option>
            {% endfor %}
        </select>
        <label for="comida_cantidad">Cantidad:</label>
        <input type="number" name="comida_cantidad" id="comida_cantidad" min="1" value="1">
        <button type="submit">Agregar Comanda</button>
    </form>

    <h3>Comandas Actuales:</h3>
    <ul>
        {% for comanda in comandas %}
            {% if comanda.bebida %}
                <li>{{ comanda.bebida.nombre }} - {{ comanda.cantidad }}</li>
            {% elif comanda.comida %}
                <li>{{ comanda.comida.nombre }} - {{ comanda.cantidad }}</li>
                    
            {% else %}
                <li>No se encontró ningún artículo</li>
            {% endif %}
        {% endfor %}
    </ul>
    <div>
        <button class="button1">
            <a href="{% url 'cerrar_mesa' mesa_id=mesa.id %}">Cerrar Mesa</a>
        <div class="space">
            
        
        <button class="button1">
        <a href="{% url 'lista_mesas' %}">Lista de Mesas</a>
        
    </div>
    
{% endblock %}
