{% extends 'base.html' %}
{% block content %}
    <h1>Consulta de Contabilidad</h1>
    <table>
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Total Diario</th>
            </tr>
        </thead>
        <tbody>
            {% for registro in contabilidad %}
                <tr>
                    <td>{{ registro.fecha }}</td>
                    <td>{{ registro.total_diario }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
