{% extends 'base.html' %}

{% block title %}Inventario{% endblock %}

{% block content %}
  <h2>Inventario de Bebidas y Artículos Varios</h2>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Descripción</th>
        <th scope="col">Cantidad Disponible</th>
        <th scope="col">Precio</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for bebida in bebidas %}
      <tr>
        <td>{{ bebida.nombre }}</td>
        <td>{{ bebida.descripcion }}</td>
        <td>{{ bebida.cantidad_disponible }}</td>
        <td>{{ bebida.precio }}</td>  <!-- Nuevo campo de precio -->
        <td>
          <a href="{% url 'editar_bebida' bebida.id %}" class="btn btn-primary btn-sm">Editar</a>
          <a href="{% url 'eliminar_bebida' bebida.id %}" class="btn btn-danger btn-sm">Eliminar</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <a href="{% url 'agregar_bebida' %}" class="btn btn-success">Agregar Bebida</a>
</div>
{% endblock %}
