{% extends 'base.html' %}

{% block content %}
    <h2>Lista de Mesas</h2>

    <ul>
        {% for mesa in mesas %}
            <li>
                {{ mesa.nombre }}
                <a href="{% url 'agregar_comanda' mesa_id=mesa.id %}">Agregar Comanda</a>
                <form action="{% url 'cerrar_mesa' mesa_id=mesa.id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit">Cerrar Mesa</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
