{% extends 'base.html' %}

{% block content %}
    <h2>Lista de Mesas</h2>

    <div class="grid-container">
        {% for mesa in mesas %}
            <div class="mesa-card">
                <p>{{ mesa.nombre }}</p>
                <a href="{% url 'agregar_comanda' mesa_id=mesa.id %}" class="button">Agregar Comanda</a>
                <form action="{% url 'cerrar_mesa' mesa_id=mesa.id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="button">Cerrar Mesa</button>
                </form>
            </div>
        {% endfor %}
    </div>
{% endblock %}
